<div class="container">


  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h1>Experience</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="row">
        <div class="about-me">

          <div class="row">
            <div class="col-xs-4 col-centered">
              <div class="image-cropper">
                <img src="/assets/me1.png" class="rounded" />
              </div>
            </div>
          </div>

          <div class="row" style="margin: 10px">
            <h1>Apps</h1>
            <p> Often the first question for developers is what apps they've made. The following are apps I have built or had an integral part in building. Links are provided for apps that are publicly available on the App Store or Google Play Store.
              Some apps are no longer available or are enterprise only.</p>

            <ul type="disc">
              <li>
                <a target="_blank" href="https://itunes.apple.com/us/app/acpmytravelscout/id1070083987?mt=8">TravelScout (iPhone app, CMS website and backend server) - AAA Club Partners</a>
                <ul>
                  <li>Overview: Provides recommendations for road trips accross the U.S.</li>
                  <li>Technologies/languages used: Swift, NodeJS, AngularJS, Docker, Rancher</li>
                </ul>
              </li>
            </ul>
            <br/>

            <ul type="disc">
              <li>
                <a target="_blank" href="https://itunes.apple.com/us/app/crb-auto/id1176744027?mt=8">CRB Auto (iPhone app) - California Republic Bank</a>
                <ul>
                  <li>Overview: Lets California Republic Bank members use their iPhones to make payments on their auto loans</li>
                  <li>Technologies/languages used: Objective-C</li>
                </ul>
              </li>
            </ul>
            <br/>


            <ul type="disc">
              <li>Online Garage for iOS (iPhone app) - AAA Club Alliance
                <ul>
                  <li>Overview: Keeps a digital record of your cars, their mileage, common repairs & checkup reminders</li>
                  <li>Technologies/languages used: Objective-C</li>
                </ul>
              </li>
            </ul>
            <br/>


            <ul type="disc">
              <li>Online Garage for Android (Android app) - AAA Club Alliance
                <ul>
                  <li>Overview: Keeps a digital record of your cars, their mileage, common repairs & checkup reminders</li>
                  <li>Technologies/languages used: Javascript, React Native</li>
                </ul>
              </li>
            </ul>
            <br/>

            <h1>Programming Languages</h1>
            <p>Another introductory question for developers is what languages they know. Programming languages are often a form of identity for developers. I usually identify as an iOS developer since it's my full-time job. Over the years I've learned a number of programming languages -- some I've used for a single project, and
              others I've used for years. I love learning new languages and technologies.</p>

            <h3>Languages I Know</h3>
            <p>All the languages I've used -- in no particular order.</p>

            <ul type="disc">
              <li>Swift</li>
              <li>Objective-C</li>
              <li>Javascript</li>
              <li>Ruby</li>
              <li>Java</li>
              <li>C#</li>
            </ul>

            <h3>Favorite Languages</h3>
            <p>The languages I like using most, listed in descending order of preference.</p>

            <ul type="disc">
              <li>Swift</li>
              <li>Objective-C (weird, I know)</li>
              <li>Javascript (also weird)</li>
            </ul>
            <br/>


          <h1>Employment</h1>

          <h3>iOS Developer (Blue Rocket, Inc.)</h3>
          <p>Apr 2016 - Present</P>
          <ul type="disc">
            <li>Work with several small teams to build & maintain apps for various clients</li>
            <li>Provide estimates for new features & maintenance tasks</li>
            <li>Collaborate with clients’ product management & backend teams to build features</li>
            <li>Learn new technologies to build apps from scratch</li>
            <li>Occasionally complete new features & maintenance tasks for websites & API’s</li>
          </ul>

          <h3>iOS/Android Developer (Globalez)</h3>
          <p>Sep 2015 - Apr 2016</P>
          <ul type="disc">
            <li>Create & maintain all code necessary to native Android & iOS apps</li>
            <li>Work with business owner to determine necessary features & design UX</li>
            <li>Use Adobe Creative Suite to create custom graphics when necessary</li>
          </ul>

          <h3>iOS Developer Intern (Weave Communications)</h3>
          <p>Jul - Sep 2015</P>
          <ul type="disc">
            <li>Worked on a team in an Agile environment</li>
            <li>Learned Swift in order to write unit tests for company app</li>
          </ul>

          <h3>DevMountain iOS Bootcamp</h3>
          <p>Mar - Jun 2015</P>
          <ul type="disc">
            <li>Proactively worked on a team to build multiple apps</li>
            <li>Successfully learned all material & completed assignments before due dates</li>
            <li>One of two students to finish final project & submit to App Store by end of camp</li>
          </ul>


        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-8 col-sm-offset-2">
      <h1></h1>
    </div>
  </div>


</div>
