<div class="container">


  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="col-sm-8" style="padding-left: 0px">
        <h1>EXPERIENCE</h1>
      </div>
      <div class="col-sm-4">
        <%= link_to 'Download Resume PDF', experience_download_pdf_path, class: "btn btn-custom pull-right" %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="row">
        <div class="about-me">

          <div class="row">
            <div class="col-sm-4 col-centered">
              <div class="image-cropper">
                <img src="/assets/me2.JPG" class="rounded" />
              </div>
            </div>
          </div>

          <div class="row" style="margin: 10px">

            <hr/>

            <h1>APPS</h1>
            <p> Often the first question for developers is what apps they've made. The following are apps I have built or had an integral part in working on. Links are provided for apps that are publicly available on the App Store or Google Play Store.
              Some apps are no longer available.</p>

              <h3>Instasize (iPhone app)</h3>

          <div class="row">
              <img style="width: 100%;height: 100%;object-fit: cover;overflow: hidden;" src="/assets/IS.png">
              <br/>
          </div>

          <div class="row">
              <ul type="disc">
              <li>Overview: Visual toolkit for content creators</li>
              <li>Technologies/languages used: Swift, Objective-C, CoreImage, CoreAnimation, Alamofire</li>
              <li>
                <a target="_blank" href="https://itunes.apple.com/us/app/instasize-photo-editor/id576649830?mt=8">View in App Store</a>
              </li>
            </ul>
            <br/>
          </div>

          <h3>Instasize Filter Editor (iPhone app)</h3>
          <div class="row">
              <img style="width: 100%;height: 100%;object-fit: cover;overflow: hidden;" src="/assets/ISTF.jpg">
              <br/>
          </div>

          <div class="row">
            <ul type="disc">
              <li>Overview: Internal photo editing app for designers to test their newly created filters on real images before adding them to Instasize. Distributed via TestFlight.</li>
              <li>Technologies/languages used: Swift, CoreImage, AWS SDK</li>
            </ul>
            <br/>
          </div>

          <h3>TravelScout (iPhone app, CMS, & backend server) - AAA Club Partners</h3>
          <div class="row">
            <ul type="disc">
              <li>Overview: Provides recommendations for road trips accross the U.S.</li>
              <li>Technologies/languages used: Swift, NodeJS, AngularJS, Docker, Rancher</li>
            </ul>
            <br/>
          </div>

          <h3>CRB Auto (iPhone app) - California Republic Bank</h3>
          <div class="row">
              <img style="width: 100%;height: 100%;object-fit: cover;overflow: hidden;" src="/assets/CRB.png">
              <br/>
          </div>

          <div class="row">
            <ul type="disc">
              <li>Overview: Allows California Republic Bank members to make payments on their loans</li>
              <li>Technologies/languages used: Objective-C</li>
              <li>
                <a target="_blank" href="https://itunes.apple.com/us/app/crb-auto/id1176744027?mt=8">View in App Store</a>
              </li>
            </ul>
            <br/>
          </div>

          <h3>Online Garage for iOS (iPhone app) - AAA Club Alliance</h3>
          <div class="row">
              <img style="width: 100%;height: 100%;object-fit: cover;overflow: hidden;" src="/assets/OG.jpg">
              <br/>
          </div>

          <div class="row">
            <ul type="disc">
              <li>Overview: Keeps a digital record of your cars, their mileage, common repairs & checkup reminders</li>
              <li>Technologies/languages used: Objective-C</li>
            </ul>
            <br/>
          </div>

          <h3>Online Garage for Android (Android app) - AAA Club Alliance</h3>
          <div class="row">
            <ul type="disc">
              <li>Overview: Keeps a digital record of your cars, their mileage, common repairs & checkup reminders</li>
              <li>Technologies/languages used: Javascript, React Native</li>
            </ul>
            <br/>
          </div>

            <hr/>

            <h1>PROGRAMMING LANGUAGES</h1>
            <p>Another introductory question for developers is what languages they know. Programming languages are often a form of identity for developers. I usually identify as an iOS developer since it's my full-time job. Over the years I've learned a number of programming languages -- some I've used for a single project, and
              others I've used for years. I love learning new languages and technologies.</p>

            <h3>LANGUAGES I KNOW</h3>
            <p>All the languages I've used -- in no particular order.</p>

            <ul type="disc">
              <li>Swift</li>
              <li>Objective-C</li>
              <li>Javascript</li>
              <li>Ruby</li>
              <li>Java</li>
              <li>C#</li>
            </ul>

            <h3>FAVORITE LANGUAGES</h3>
            <p>The languages I like using most, listed in descending order of preference.</p>

            <ul type="disc">
              <li>Swift</li>
              <li>Objective-C (weird, I know)</li>
              <li>Javascript (also weird)</li>
            </ul>
            <br/>

            <hr/>
          </div>

          <h1>EMPLOYMENT</h1>

          <h3>iOS Developer (Instasize)</h3>
          <p>Dec 2018 - Present</P>
          <ul type="disc">
            <li>Work with a small team to maintain a crash-free user experience for over 8 million users worldwide</li>
            <li>Collaborate with the design team and other developers to implement and a/b test new features</li>
            <li>Develop internal tools to help speed up production</li>
          </ul>

          <h3>iOS Developer (Blue Rocket, Inc.)</h3>
          <p>Apr 2016 - Present</P>
          <ul type="disc">
            <li>Work with several small teams to build & maintain apps for various clients</li>
            <li>Provide estimates for new features & maintenance tasks</li>
            <li>Collaborate with clients’ product management & backend teams to build features</li>
            <li>Learn new technologies to build apps from scratch</li>
            <li>Occasionally complete new features & maintenance tasks for websites & API’s</li>
          </ul>

          <h3>iOS/Android Developer (Globalez)</h3>
          <p>Sep 2015 - Apr 2016</P>
          <ul type="disc">
            <li>Create & maintain all code necessary to native Android & iOS apps</li>
            <li>Work with business owner to determine necessary features & design UX</li>
            <li>Use Adobe Creative Suite to create custom graphics when necessary</li>
          </ul>

          <h3>iOS Developer Intern (Weave Communications)</h3>
          <p>Jul - Sep 2015</P>
          <ul type="disc">
            <li>Worked on a team in an Agile environment</li>
            <li>Learned Swift in order to write unit tests for company app</li>
          </ul>
          <br/>

          <hr/>

          <h1>EDUCATION</h1>

          <h3>DevMountain iOS Bootcamp</h3>
          <p>Mar - Jun 2015</P>
          <ul type="disc">
            <li>Proactively worked on a team to build multiple apps</li>
            <li>Successfully learned all material & completed assignments before due dates</li>
            <li>One of two students to finish final project & submit to App Store by end of camp</li>
          </ul>

          <h3>Brigham Young University</h3>
          <p>Jan 2011 - Apr 2015</p>
          <ul type="dic">
            <li>Bachelor of Arts (B.A.), Spanish Language and Literature</li>
            <li>Minor, Fine Art</li>
          </ul>

        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1></h1>
    </div>
  </div>


</div>
