<div class="container">


  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>ABOUT ME</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="row">
        <div class="about-me">

          <div class="row">
            <div class="col-sm-4 col-centered">
              <div class="image-cropper">
                <img src="/assets/me2.JPG" class="rounded" />
              </div>
            </div>
          </div>

          <div class="row" style="margin: 10px">

            <hr/>

            <h1>PROFESSIONAL</h1>
            <p>I currently work from home as an iOS developer for <a target="_blank" href="https://www.instasize.com">Instasize</a> and contract on the side for a <a target="_blank" href="https://www.bluerocket.us/">digital design and development studio.</a>
            I get to work on large & small apps with a variety of different purposes and get to use several different languages
            and technologies daily.</p>

            <p>I studied fine art at Brigham Young University and have a passion for -- and the artistic skill to create -- exceptional user experience and design. </p>
            <p>Head over to my <%= link_to "Experience", experience_index_path %> page for more details on my professional experience and past projects.</p>

            <hr/>

            <h1>PERSONAL</h1>
            <p>I love creating things.  In my free time I draw, paint, play the banjo, and do some woodworking.
              I find great pleasure in seeing my ideas go from concept to reality. </p>

            <p>I live in Utah with my wife, 3 adorable children, and puppy. I love to spend time with them whenever I can.</p>
          </div>


        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1></h1>
    </div>
  </div>


</div>
