<div class="container">


  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>CONTACT</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="row">
        <div class="about-me">

          <div class="row">
            <div class="col-sm-4 col-centered">
              <div class="image-cropper">
                <img src="/assets/me1.png" class="rounded" />
              </div>
            </div>
          </div>

          <div class="row" style="margin: 10px">

            <hr/>

            <h2 class="contact-title">DALTON PURNELL</h2>
            <p class="contact-line">dalton.purnell61@gmail.com</p>
            <p class="contact-line">801.822.6620</p>
            <p class="contact-line"><a target="_blank" href="https://www.linkedin.com/in/dalton-purnell-77580581">LinkedIn Profile</a></p>
            <p class="contact-line"><a target="_blank" href="https://www.github.com/daltonpurnell">Github Profile</a></p>

        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1></h1>
    </div>
  </div>


</div>
